@import './variables.scss';

.app-header {
  background-color: $brand-secondary;
  padding: 15px;

  .app-logo {
    height: 40px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1170px;  // semi arbitrary value taken from Bootstrap
}
