@import './variables.scss';

.app {
  padding-top: $header-height;
}

.app-header {
  background-color: $brand-secondary;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;

  .app-logo {
    height: 40px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1170px;  // semi arbitrary value taken from Bootstrap
}
